/* Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
html {
  scroll-behavior: smooth;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Variables */
:root {
  --main-color: #d1b260;
  --alt-main-color: #d5b44d85;
  --background-color: #010103;
  --background-color2: #402f0b;
  --section-padding: 100px;
}
/* End Variables */
/* start Header */
.header {
  position: absolute;
  z-index: 1;
  color: white;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 70px;
}
.header .container::before {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: var(--alt-main-color);
  bottom: 0px;
  left: 15px;
}
.header #nav2 {
  display: flex;
  align-items: center;
}
.header img {
  height: 70px;
}
.header ul {
  font-size: 16px;
  list-style: none;
  display: flex;
  gap: 10px;
}
.header ul li {
  padding: 10px;
  cursor: pointer;
}
.header ul a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--alt-main-color);
  bottom: 0px;
  transition: 0.3s;
}
#nav1 a:hover {
  font-weight: bold;
}
.header a:hover {
  color: var(--alt-main-color);
}
#a1:hover::before {
  width: 100px;
}
#a2:hover::before {
  width: 65px;
}
#a3:hover::before {
  width: 35px;
}
#a4:hover::before {
  width: 65px;
}
.header i {
  display: none;
}
@media (max-width: 770px) {
  .header img {
    display: none;
  }
  .header i {
    display: block;
  }
  .header ul {
    display: none;
  }
  .header ul a::before {
    display: none;
  }
}

.header #log-in,
#register {
  padding: 5px 15px;
  border: 1px solid transparent;
  box-shadow: 5px 5px 15px var(--alt-main-color);
  margin-left: 15px;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
  min-height: 100vh;
  background-color: var(--background-color);
  background-image: url("../images/landing.png");
  background-size: cover;
}
body {
  direction: rtl;
  text-align: right;
}
.overlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 80%);
}
.landing img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* End Landing */
/* Start Salah */
.salah {
  position: relative;
  background-image: linear-gradient(
    var(--background-color2),
    var(--background-color)
  );
  padding: 100px 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 100px;
}
.salah .layer {
  display: flex;
  align-items: center;
  background-color: rgb(1 1 3 / 40%);
  font-family: "Reem Kufi", sans-serif;
  width: calc((100% - 100px) / 2);
  height: 300px;
  justify-content: center;
}
.layer h3 {
  color: whitesmoke;
  font-size: 45px;
}
.layer #h3-2 {
  margin-top: 45px;
}
.layer h4,
.word h4 {
  color: whitesmoke;
  font-size: 25px;
  margin-top: 150px;
  margin-right: -160px;
  font-family: "Reem Kufi", sans-serif;
}
.word h4 {
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -290%);
  -webkit-transform: translate(-50%, -290%);
  -moz-transform: translate(-50%, -290%);
  -ms-transform: translate(-50%, -290%);
  -o-transform: translate(-50%, -290%);
  display: none;
}
.salah .image {
  width: calc((100% - 100px) / 2);
}
.salah .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(6, 100px);
}
.image .box {
  position: relative;
}
.image .box img {
  max-height: 160px;
}
.image .box h5 {
  color: whitesmoke;
  font-size: 35px;
  position: absolute;
  font-family: "Reem Kufi", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-140%, 75%);
  -webkit-transform: translate(-140%, 75%);
  -moz-transform: translate(-140%, 75%);
  -ms-transform: translate(-140%, 75%);
  -o-transform: translate(-140%, 75%);
}
.box .timing {
  position: absolute;
  color: white;
  font-family: cursive;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(45%, 40%);
  -webkit-transform: translate(45%, 40%);
  -moz-transform: translate(45%, 40%);
  -ms-transform: translate(45%, 40%);
  -o-transform: translate(45%, 40%);
}
.image .container .box:first-child {
  grid-column: 1 / span 2;
}
.image .container .box:nth-child(2) {
  grid-column: 3 / span 2;
}
.image .container .box:nth-child(3) {
  grid-column: 5 / span 2;
}
.image .container .box:nth-child(4) {
  grid-column: 2 / span 2;
}
.image .container .box:nth-child(5) {
  grid-column: 4 / span 2;
}
@media (max-width: 1228px) {
  .salah .layer {
    display: none;
  }
  .word h4 {
    display: block;
  }
  .salah .image {
    flex: 1;
  }
  .salah .container {
    grid-template-columns: repeat(6, minmax(75px, 1fr));
    text-align: center;
  }
  .image .container .box:first-child {
    grid-column: 1 / span 2;
  }
  .image .container .box:nth-child(2) {
    grid-column: 3 / span 2;
  }
  .image .container .box:nth-child(3) {
    grid-column: 5 / span 2;
  }
  .image .container .box:nth-child(4) {
    grid-column: 2 / span 2;
  }
  .image .container .box:nth-child(5) {
    grid-column: 4 / span 2;
  }
  .image .box img {
    max-height: 200px;
  }
  .image .box h5 {
    font-size: 40px;
  }
  .image .box h5 {
    transform: translate(-150%, 100%);
    -webkit-transform: translate(-150%, 100%);
    -moz-transform: translate(-150%, 100%);
    -ms-transform: translate(-150%, 100%);
    -o-transform: translate(-150%, 100%);
}
  .box .timing {
    font-size: 30px;
    transform: translate(10%, 40%);
    -webkit-transform: translate(10%, 40%);
    -moz-transform: translate(10%, 40%);
    -ms-transform: translate(10%, 40%);
    -o-transform: translate(10%, 40%);
}
}
@media (max-width: 973px) {
  .salah .container {
    grid-template-columns: repeat(3, minmax(75px, 200px));
  }
  .image .container .box:first-child {
    grid-column: 1 / span 1;
  }
  .image .container .box:nth-child(2) {
    grid-column: 3 / span 1;
  }
  .image .container .box:nth-child(3) {
    grid-column: 1 / span 1;
  }
  .image .container .box:nth-child(4) {
    grid-column: 3 / span 1;
  }
  .image .container .box:nth-child(5) {
    grid-column: 2 / span 1;
  }
  .box .timing {
    transform: translate(-10%, 40%);
    -webkit-transform: translate(-10%, 40%);
    -moz-transform: translate(-10%, 40%);
    -ms-transform: translate(-10%, 40%);
    -o-transform: translate(-10%, 40%);
}
  .salah {
    gap: 0px;
  }
}
@media (max-width: 748px) {
  .salah .container {
    grid-template-columns: 1fr;
  }
  .image .container .box:first-child {
    grid-column: 1 / span 1;
  }
  .image .container .box:nth-child(2) {
    grid-column: 1 / span 1;
  }
  .image .container .box:nth-child(3) {
    grid-column: 1 / span 1;
  }
  .image .container .box:nth-child(4) {
    grid-column: 1 / span 1;
  }
  .image .container .box:nth-child(5) {
    grid-column: 1 / span 1;
  }
  .box .timing {
    transform: translate(11%, 40%);
    -webkit-transform: translate(11%, 40%);
    -moz-transform: translate(11%, 40%);
    -ms-transform: translate(11%, 40%);
    -o-transform: translate(11%, 40%);
}
  .salah {
    gap: 20px;
  }
}
/* End Salah */
/* Start Charts */
#charts {
  background-image: linear-gradient(
    var(--background-color2),
    var(--background-color)
  );
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
#charts .container {
  padding-bottom: 15px;
  background-color: var(--background-color2);
  box-shadow: 5px 10px 18px var(--background-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#charts .container:hover {
  box-shadow: 5px 10px 18px var(--alt-main-color);
}
#charts h1 {
  margin: 0px;
  padding-top: 10px;
}
@media (max-width: 768px) {
  #charts h1 {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
  }
}
canvas {
  max-width: 600px;
  max-height: 300px;
  width: 100%;
  height: auto;
  margin: auto;
}
@media (max-width: 768px) {
  canvas {
    max-width: 100%;
  }
}
/* End Charts */
/* Start Podcast */
.podcast {
  position: relative;
  background-image: linear-gradient(
    var(--background-color2),
    var(--background-color)
  );
  color: white;
}
@media (max-width: 1200px) {
  .podcast {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.podcast .container {
  position: relative;
  min-height: 100vh;
}
.podcast .boxes-holder {
  width: 100%;
  padding: 25px;
  background-color: var(--background-color2);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (min-width: 1200px) {
  .podcast .boxes-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}
.podcast .box {
  position: relative;
}
.podcast .box a img {
  width: 100%;
  max-width: 100%;
  border: 1px solid transparent;
  box-shadow: 5px 10px 18px var(--background-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.podcast .box:hover img {
  box-shadow: 5px 10px 18px var(--alt-main-color);
}
@media (min-width: 1200px) {
  .podcast .box:hover img {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}
.podcast .box .text {
  text-align: center;
  line-height: 1.6;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.podcast .box .text p {
  font-size: 14px;
}
@media (min-width: 1200px) {
  .podcast .box .text {
    opacity: 0;
    position: absolute;
    top: 10px;
  }
  .podcast .box:hover .text {
    opacity: 1;
  }
}
.podcast .footer {
  width: 70%;
  color: var(--main-color);
  text-align: center;
  border: 1px solid transparent;
  padding: 10px;
  box-shadow: 5px 10px 18px var(--alt-main-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 768px) {
  .podcast .footer {
    width: 90%;
    padding: 0;
  }
}

#logged_in_nav {
  display: flex;
  gap: 30px;
}

/* End Podcast */

.open-nav {
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: 105%;
  left: 0;
  width: 50%;
  background-color: rgb(64 47 11 / 50%);
}
