* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #d1b260;
    --alt-main-color: #d5b44d85;
    --background-color: #010103;
}
body {
    background-image:url(background.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--main-color);
    font-family: "Cairo", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 80%);
}
.sign-page {
    background-color:var(--background-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--alt-main-color);
    width: 350px;
    max-width: 90%;
    text-align: center;
    position: absolute;
}
.form {
    display: flex;
    flex-direction: column;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--main-color);
    background: #222;
    color:var(--main-color);
    border-radius: 5px;
    outline: none;
}
button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background:var(--main-color);
    color:var(--background-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background:var(--alt-main-color);
}
a {
    margin-left: 21px;
    color:var(--main-color);
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color:var(--alt-main-color);
}
.sign-in {
    display: none;
}
